#car {
    font-family: Arial;
   }
   #body {
      position: absolute;
      top: 50px;
      width: 80%;
      height: 100px;
      background-color: #1fc7ca;
      text-align: center;
   }
   #backwheel {
      position: absolute;
      left: 10%;
      top: 130px;
      background-color: #ffffff;
      border: 3px solid black;
      border-radius: 50%;
      width: 40px;
      height: 40px;
   }
   #frontwheel {
      position: absolute;
      left: 55%;
      top: 130px;
      background-color: #ffffff;
      border: 3px solid black;
      border-radius: 50%;
      width: 40px;
      height: 40px;
   }